<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="js/ejercicio10.js"></script>
    <title>Angular JS</title>
</head>
<body>
    <h3> controladores </h3>

    <div ng-app="calculo" ng-controller="myController">
        primer numero: <input type="number" ng-model="primero">
        segundo numero: <input type="number" ng-model="segundo">
        <br>
        suma <p> {{primero + segundo}} </p>
    </div>
</body>
</html>